* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background: #F8F8FF;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #3989ad;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.header2 {
	width: 60%;
	margin: 50px auto 0px;
	color: white;
	background: #3989ad;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form[action="login.php"], form[action="register.php"], .content, .data-container {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.article-container {
	width: 60%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group, .radio-group, .data-group {
	margin: 10px 10px 10px 10px;
}
.input-group label, .data-group label {
	display: block;
	text-align: left;
	margin: 3px;
	font-size: 20px;
}
.input-group input, select, textarea {
	height: 32px;
	width: 95%;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid gray;
}
.data-group p {
    height: 16px;
	width: 95%;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid gray;
}
.data-group .article-content, textarea {
    height: 85px;
}
.btn {
	cursor: pointer;
	padding: 12px;
	font-size: 16px;
	color: white;
	background: #285f79;
	border: none;
	border-radius: 10px;
}